{% extends 'käyttäjät/main.html' %}

{% block content %}

<br>
<div class="row justify-content-center">

    <div class="col-md-8">
        <h5>Asiakaslista</h5>
        <hr>
        <div class="card card-body">
            <a href={% url 'admin:käyttäjät_asiakas_add' %}?_to_field=id&_popup=1" class="btn btn-primary btn-lm btn-block" target="_blank">Lisää asiakas</a>
            <table class="table table-sm">
            <tr>
            <th></th>
            <th>Yritys </th>
            <th>Tilaaja</th>
            <th>Puhelin</th>
            <th>Sähköposti</th>
            <th>Muokkaa</th>
            <th>Poista</th>
            </tr>

            {% for asiakas in asiakkaat %}
                <tr>
                    <td><a class="btn btn-sm btn-success" href="{% url 'asiakas' asiakas.id %}">Katso</a></td>
                    <td>{{ asiakas.yritys }}</td>
                    <td>{{ asiakas.tilaaja }}</td>
                    <td>{{ asiakas.puhelin }}</td>
                    <td>{{ asiakas.sähköposti }}</td>
                    <td><a class="btn btn-sm btn-info" href="">Muokka</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Poista</a></td>
                    
                </tr>
            
            {% endfor %}
                  
            </table>
        </div>

    </div>    
    
</div>

{% endblock content %}