{% load static %}

<style>
  .hei-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

.sininen {
  background-color: #005cc3e0 !important;
}


</style>

<nav class="navbar navbar-expand-lg sininen navbar-dark bg-dark">
  <a class="navbar-brand mr-5" href="#">Suomen Turvalaitepalvelu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'etusivu' %}">Tilaukset</a>
      </li>
      
 
      
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'arkisto' %}">Arkisto</a>
      </li>

      {% else %}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'käyttäjän_asetukset' %}">Käyttäjän asetukset</a>
      </li>

    </ul>
    {% endif %}
  </div>

<span class="hei-msg">{{ request.user }}</span>
<span><a class="hei-msg" href="{% url 'kirjaudu_ulos'%}">Kirjaudu Ulos</a></span>
</nav>