<br>

<div class="row m-2">


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Töitä jonossa</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{jonossa_tilaukset}}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Tilauksien määrä</h5>
                </div>
                <div class="card-body">
                <h3 class="card-title">{{tilaukset_yht}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Valmiita tilauksia</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ valmiit_tilaukset }}</h3>
                </div>
            </div>
        </div>
    </div>


</div>