@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

#header {
    background-color: #007bff;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #007bff;
}

div.breadcrumbs {
    background: #5499e2;
}

a:link, a:visited {
    color: #007bff;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #2774c7;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #2774c7 !important;
}
